@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
@font-face {
  font-family: FredokaOne;
  src: url("./assets/styles/FredokaOne-Regular.ttf");
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  /* font-family: "Roboto", sans-serif; */
  font-family: "Poppins", sans-serif;
  /* font-family: "Montserrat", sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}
.space-top {
  padding-top: 100px;
}
.container {
  width: 85%;
  margin: 0 auto;
  max-width: 1500px;
}
.btns-primary {
  display: inline-block;
  padding: 12px 30px;
  font-size: 0.9rem;
  background-color: #00afef;
  color: #ffffff;
  border-radius: 5px;
  text-decoration: none;
}
.grids {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.grid1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 100px;
}
.grid2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 100px;
}
.flexed1 {
  display: flex;
  align-items: center;
}
/* @media */
@media (max-width: 1300px) {
  .container {
    width: 95%;
  }
  .grid1,
  .grid2 {
    gap: 40px;
  }
}
@media (max-width: 992px) {
  .grids {
    gap: 20px;
  }
}
@media (max-width: 768px) {
  .grid1,
  .grid2,
  .grids {
    grid-template-columns: 1fr;
  }
  .space-top {
    padding-top: 50px;
  }
}
