.p__banner {
  min-height: 500px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.p__banner-content h2 {
  font-size: 3rem;
  font-family: "FredokaOne";
  font-weight: 500;
}
.p__banner-content p {
  margin: 20px 0;
}
.p__banner-content a {
  text-decoration: none;
  padding: 15px 30px;
  font-size: 14px;
  background-color: #00afef;
  color: white;
  display: inline-block;
  border-radius: 5px;
  margin-top: 20px;
}
.p_section1 {
  min-height: 550px;
  background: linear-gradient(
      90deg,
      #002333 0%,
      #002333 24.24%,
      #002333 50.76%,
      rgba(0, 35, 51, 0.76) 64.14%,
      rgba(0, 35, 51, 0.48) 75.71%
    ),
    url(../images/partnershipBanner.png);
  background-position: right;
  background-repeat: no-repeat;
  padding: 50px 0;
  color: white;
}
.p__sect-header {
  width: 50px;
  height: 10px;
  background-color: white;
  margin-bottom: 30px;
}
.p__sect1 {
  display: flex;
  align-items: center;
}
.p__sect1-left {
  width: 50%;
}
.p__sect1-left h2 {
  font-size: 2.8rem;
  margin-bottom: 30px;
  width: 50%;
  font-family: "Roboto", sans-serif;
  line-height: 1.4;
  font-weight: 500;
}
.p__sect1-left p {
  line-height: 2.4;
  font-size: 1rem;
}
/* Partnership Section 2 */
.p__sect2-heading {
  text-align: center;
  margin-bottom: 70px;
}
.p__sect2-heading h2 {
  font-family: "FredokaOne";
  font-weight: 300;
  font-size: 2rem;
  margin-bottom: 10px;
}
.p___sect2-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  width: 70%;
  margin: 20px auto;
}
.p__sect2-box h3 {
  font-weight: 500;
  font-size: 1.6rem;
}
.p__sect2-box {
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #121b35;
  position: relative;
  background-color: white;
}
.p__sect2-box::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #00afef;
  left: -15px;
  top: -15px;
  border-radius: 10px;
  z-index: -1;
  border: 1px solid #121b35;
}
.p__sect2-box p {
  line-height: 2.2;
  color: #222222;
  font-size: 0.9rem;
  margin-top: 20px;
  margin-bottom: 90px;
}
.p__sect2-box a {
  position: absolute;
  display: inline-block;
  text-decoration: none;
  padding: 15px 20px;
  font-size: 0.9rem;
  background-color: #00afef;
  color: white;
  border-radius: 5px;
  border: 1px solid #121b35;
  bottom: 20px;
}
/* Partnership Section 3 */
.p__sect3 {
  background-color: #ffa41d;
}
.p__sect3-content {
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  gap: 20px;
}
.p__sect3-left h3 {
  margin-bottom: 20px;
  font-size: 2.2rem;
  font-weight: 600;
}
.p__sect3-left p {
  line-height: 2;
  font-size: 1rem;
}
.p__sect3-left,
.p__sect3-right {
  width: 100%;
}
.p__sect3-right {
  text-align: right;
}
.p__sect3-right a {
  display: inline-block;
  text-decoration: none;
  padding: 10px 80px;
  background-color: white;
  font-size: 0.9rem;
  border-radius: 5px;
  color: #222222;
  border: 1px solid #121b35;
}
/* @media Queries */
@media (max-width: 1024px) {
  .p___sect2-content {
    gap: 50px;
    width: 90%;
  }
  .p__sect1-left {
    width: 70%;
  }
}
@media (max-width: 768px) {
  .p__banner {
    min-height: 400px;
  }
  .p__banner-content h2 {
    font-size: 2.3rem;
  }
  .p___sect2-content {
    grid-template-columns: 1fr;
  }
  .p__sect1-left {
    width: 100%;
  }
  .p__sect1-left h2 {
    font-size: 2.3rem;
    width: 50%;
  }
  .p__sect3-content {
    min-height: auto;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 70px 0;
    flex-direction: column;
  }
  .p__sect3-right {
    text-align: left;
  }
}
@media (max-width: 600px) {
  .p__sect1-left h2 {
    width: 70%;
  }
}
@media (max-width: 500px) {
  .p__banner-content h2 {
    font-size: 2.1rem;
  }
  .p__sect1-left h2 {
    width: 90%;
    font-size: 2.1rem;
  }
  .p__sect1-left p {
    font-size: 0.9rem;
  }
  .p__sect2-box {
    padding: 10px;
  }
  .p__sect2-box h3 {
    font-size: 1.3rem;
  }
  .p__sect2-heading h2 {
    font-size: 1.5rem;
  }
  .p__sect2-heading p,
  .p__banner-content p {
    font-size: 0.9rem;
  }
}
@media (max-width: 400px) {
  .p_section1 {
    min-height: 550px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0;
    color: white;
  }
}
